<html>
        <head>
            <h4><a href="">получить отчет</a>     последнее действие :</h4>
        </head>
        <body>
            <div>
                <h3><a href="">attack</a> <a href="">attack</a> <a href="">attack</a> <a href="">attack</a> <a href="">attack</a> <a href="">attack</a> <a href="">attack</a> <a href="">attack</a></h3>
                <p>file - buf.txt получен: 14.06.2014, 12:14</p>
            </div>

            <div>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>
                <h4><a href="">режим работы<br />автоматически</a></h4>
                <h4><a href="">режим работы<br />ручной</a></h4>
                <p>''</p>
            </div>
        </body>
    </html>
